<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">PF - G8</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {% if usuario_logueado %}
            <ul class="navbar-nav">
                <a class="nav-link" id="nav_usuarios" href="{% url 'crear_usuario' %}" title="Usuarios">Usuarios</a>
                <a class="nav-link" id="nav_importar" href="{% url 'importar' %}" title="Importar">Importar</a>
                <a class="nav-link" id="nav_exportar" href="{% url 'exportar' %}" title="Exportar">Exportar</a>
                <a class="nav-link" id="nav_datos_objetivos" href="{% url 'datosobjetivos'%}" title="Datos Objetivos">Datos Objetivos</a>
                <a class="nav-link" id="nav_datos_subjetivos" href="{% url 'datossubjetivos'%}" title="Datos Subjetivos">Datos Subjetivos</a>
                <a class="nav-link" id="nav_lesiones_enfermedades" href="{% url 'lesionesenfermedades'%}" title="Lesiones Enfermedades">Lesiones Enfermedades</a>
                <a class="nav-link" id="nav_analisis_completo" href="{% url 'analisiscompleto' %}" title="Análisis completo">Análisis completo</a>
                <a class="nav-link" id="nav_instituciones" href="{% url 'crear_institucion' %}" title="Instituciones">Instituciones</a>
                <a class="nav-link" id="nav_deportistas" href="{% url 'crear_deportista' %}" title="Deportistas">Deportistas</a>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user"></i> {{usuario}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
            {%else%}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_template' %}" title="Login"><i class="fas fa-sign-in-alt"></i></a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
<script>
    document.getElementById('{{nav_id}}').className += " active";
</script>