{% extends 'base.html' %}{% load bootstrap %} {% block title %}Instituciones{% endblock %} {% block content %}
<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link" href="{% url 'crear_institucion' %}">Crear</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link active" href="{% url 'editar_institucion' %}">editar</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" href="{% url 'eliminar_institucion' %}">Eliminar</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="editar-institucion-tab" role="tabpanel" aria-labelledby="editar-institucion">
        <select class="form-select" aria-label="Default select example" id="institucion_select">
          <option selected>Elija institución</option>
          {%for i in instituciones%}
          <option value="{% url 'editar_institucion_pk' i.pk %}">{{i.documento}} - {{i.nombre}} {{i.apellido}}</option>
          {%endfor%}
        </select>
    </div>
    <br> {% if institucion_select %}
    <form method="post">
        {% csrf_token %} {{ form|bootstrap }}
        <br>
        <button type="submit" class="btn btn-primary btn-block">Editar</button>
    </form>
    {% endif %} {%if accionOk == 'True'%}
    <br>
    <div class="alert alert-success" role="success">
        {{accionReturn}}
    </div>
    {%elif accionOk == 'False'%}
    <br>
    <div class="alert alert-danger" role="danger">
        {{accionReturn}}
    </div>
    {%endif%}
</div>
<script>
    function redirect(goto) {
        window.location = goto;
    }

    var selectEl = document.getElementById('institucion_select');

    selectEl.onchange = function() {
        var goto = this.value;
        redirect(goto);

    };
</script>
{% endblock %}